.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.Kristen, .Alex {
    background-color: var(--kpxaeh-black);
    border-radius: 25px;
    width: 18rem;
    padding: 0 1vmin 2vmin 1vmin;
    margin: 1.5rem auto;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: var(--kpxaeh-btn-shadow)
}

.Kristen h3, .Alex h3, .Lexi h3 {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.6vmin;
}

.contact-name {
    color: var(--kpxaeh-blue);
    font-weight: 900;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 1.2rem;
    margin: 1.5rem 0 .5rem;
}

.contact-info a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.contact-detail {
    font-family: 'Martian Mono', monospace;
    font-size: .7rem;
    font-weight: 100;
}

.fa-phone, .fa-envelope, .fa-instagram {
    transition: all .5s ease;
    color: var(--kpxaeh-blue);
}

a:hover .fa-phone, a:hover .fa-envelope, a:hover .fa-instagram {
    color: var(--kpxaeh-white);
}

@media only screen and (max-width: 1200px) {

    .Contact h3 {
        margin: 0;
        padding-bottom: 2vmin;
    }

    .Kristen, .Alex, .Lexi {
        padding-top: 2vmin;
    }

}

@media only screen and (max-width: 500px) {

    .contact-info {
        font-size: 5vmin;
        padding: 1vmin 0;
        margin: 1rem 0 .5rem;
    }

    .Contact h3 {
        font-size: 3.5vmin;
    }

    .fa-phone, .fa-envelope, .fa-instagram {
        font-size: 1rem;
    }

    .contact-detail {
        font-size: .6rem;
        font-weight: 200;
    }

}