.Contact {
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    animation: fadeInUp 1s;
    text-align: center;
    background-color: rgba(37, 49, 61, 0.6);
    margin: 6vmin 0 0 -1vmin;
}

.Contact h3 {
    margin-top: 24vmin;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    padding: 2vmin 0;
}

.Alex p, .Kristen p {
    font-size: 1.5vmin;
}

@media only screen and (max-width: 1500px) {
    
    .Contact {
        height: 55vh;
        margin-top: 25vmin;
    }

    .Contact {
        display: flex;
        flex-direction: column;
        row-gap: 8vmin;
        padding-top: 9vmin;
    }

    .Contact h3 {
        margin: 0;
    }

}

@media only screen and (max-width: 500px) {

    .Contact {
        height: 70vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        row-gap: 2vmin;
    }

    .Contact h3 {
        font-size: 4vmin;
    }

    .contact-info {
        font-size: 6vmin;
        padding: 0;
    }

    .Alex p, .Kristen p {
        font-size: 2.5vmin;
    }

}

@media only screen and (max-width: 500px) {

    .Contact h3 {
        margin-top: 10vmin;
    }

    .Lexi {
        bottom: 7%;
    }

}