.Contact {
    height: 70vh;
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto;
    animation: fade ease 2s;
    text-align: center;
    background-color: rgba(37, 49, 61, 0.6);
    border-radius: 50px;
    position: fixed;
    top: 55%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin-left: 30vmin;
}

.Contact h3 {
    margin-top: 14vmin;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vmin;
    font-size: 4vmin;
    padding: 2vmin 0;
}

.Alex p, .Kristen p {
    font-size: 1.5vmin;
}

.Lexi {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}