.Dates {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.cities h1 {
  font-size: 3vmin;
}

.cities li {
  line-height: 2;
  font-size: 1.5vmin;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 9rem;
}

.booking-link {
  background-color: var(--kpxaeh-black);
  font-size: 1.25vmin;
  border-radius: 10px;
  padding: 1vmin 1vmin 1.25vmin 1vmin;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: var(--kpxaeh-btn-shadow);
  width: 80%;
  margin: 1rem;
}

.fa-chevron-right {
  padding: 0 .5vmin 0 1vmin;
}

.dates {
  font-family: "Martian Mono", monospace;
  letter-spacing: 1.5px;
  margin-top: 3vmin;
}

iframe {
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 12vmin;
  margin-top: 1.5rem;
  filter: invert(1) saturate(0) drop-shadow(0 0 0.75rem var(--kpxaeh-black));
  transition: all .5s ease;
  margin-top: 4vmin;
}

iframe:hover {
  filter: invert(1) saturate(0) drop-shadow(0 0 0.75rem var(--kpxaeh-blue));
}

@media only screen and (max-width: 1200px) {
  .cities {
    column-gap: 0;
  }

  .salon li {
    font-size: 1.8vmin;
  }

  .booking-container {
    height: 6rem;
  }

  .booking-link { 
    margin: .5rem;
  }
}

@media only screen and (max-width: 567px) {
  .cities h1 {
    font-size: 1.5rem;
  }

  .booking-link {
    font-size: .65rem;
    padding: 2vmin;
  }

  .fa-chevron-right {
    font-size: .7rem;
    margin-left: .25rem;
  }

  .dates li {
    font-size: .8rem;
  }

  iframe {
    width: 100%;
    height: 30vmin;
    margin-bottom: 3rem;
  }
}
