.Dates {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.cities {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  text-align: center;
}

.cities h1 {
  font-size: 3vmin;
}

.cities li {
  line-height: 2;
  font-size: 1.75vmin;
}

.booking-container {
  margin: 4vmin 0 6vmin;
}

.booking-link {
  background-color: var(--kpxaeh-black);
  font-size: 1.25vmin;
  border-radius: 10px;
  padding: 1vmin 1vmin 1.25vmin 1vmin;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: var(--kpxaeh-btn-shadow);
}

.fa-chevron-right {
  padding: 0 .5vmin 0 1vmin;
}

.dates {
  font-family: "Martian Mono", monospace;
  font-weight: 200;
  letter-spacing: 1.5px;
  margin-top: 3vmin;
}

.salon h6 {
  margin: 10vmin 0 1.5vmin 0;
  font-size: 1.75vmin;
}

.salon li {
  font-family: "Martian Mono", monospace;
  line-height: 1.5;
  font-weight: 200;
  font-size: 0.85rem;
}

@media only screen and (max-width: 1200px) {
  .cities {
    column-gap: 1rem;
  }

  .salon h6 {
    font-size: 2vmin;
    margin-bottom: 5vmin;
  }

  .salon li {
    font-size: 1.8vmin;
  }
}

@media only screen and (max-width: 500px) {
  .Dates {
    height: 80vh;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 3vmin;
    margin: 0;
  }

  .booking-container {
    margin: 8vmin 0 12vmin 0;
  }

  .booking-link {
    border-radius: 5px;
    padding: 2vmin 2vmin 2.25vmin 2vmin;
  }

  .booking-link:hover {
    color: var(--kpxaeh-blue);
  }

  .bookings {
    overflow-y: auto;
  }

  .book h1 {
    font-size: 5vmin;
  }

  .book p {
    font-size: 2.5vmin;
  }

  .cities {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100vw;
    overflow: auto;
  }

  .cities h1 {
    font-size: 5.5vmin;
  }

  .cities li {
    font-size: 3vmin;
  }

  .cities a {
    font-size: 3vmin;
  }

  .salon {
    padding: 5vmin 0 10vmin 0;
  }

  .salon h6 {
    font-size: 4vmin;
    margin-bottom: .8rem;
  }
}
