.Dates {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 1s;
    background-color: rgba(37, 49, 61, 0.6);
    margin: 6vmin 0 0 -1vmin;
}

.cities {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15vmin;
    text-align: center;
}

.cities h1 {
    font-size: 3vmin;
}

.cities li {
    line-height: 2;
    font-size: 2vmin;
}

.booking-link {
    color: black;
    background-color: rgb(149, 210, 228);
    padding: .5vmin;
    border-radius: 5px;
    font-size: 1.5vmin;
    line-height: 4;
}

.booking-link:hover {
    color: black;
    background-color: white; 
}

.dates {
    margin-top: 3vmin;
}

.salon h6 {
    margin: 10vmin 0 3vmin 0;
    line-height: 0;
    font-size: 2vmin;
}

.salon li {
    line-height: 1.5;
    font-weight: 200;
}

@media only screen and (max-width: 1500px) {

    .Dates {
        height: 55vh;
        margin-top: 25vmin;
    }

    .cities {
        column-gap: 0;
    }

    .salon h6 {
        font-size: 2vmin;
        margin-bottom: 5vmin;
    }

    .salon li {
        font-size: 1.8vmin;
    }

}

@media only screen and (max-width: 500px) {

    .Dates {
        height: 70vh;
        position: fixed;
        bottom: 0;
        left: 0;
        padding-top: 3vmin;
    }
    
    .bookings {
        overflow-y: auto;
    }

    .book h1 {
        font-size: 5vmin;
    }

    .book p {
        font-size: 2.5vmin;
    }

    .cities {
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 100vw;
        overflow: auto;
    }

    .cities h1 {
        font-size: 5vmin;
    }

    .cities li {
        font-size: 3vmin;
    }

    .cities a {
        font-size: 3vmin;
    }

    .salon {
        padding: 5vmin 0 10vmin 0;
    }

    .salon h6 {
        font-size: 4vmin;
    }
}