@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --kpxaeh-white: #FFFFFF;
    --kpxaeh-blue: rgb(149, 210, 228);
    --kpxaeh-black: #18181a;
    --kpxaeh-btn-shadow: rgb(149, 210, 228, 0.4) 0px 5px, rgb(149, 210, 228, 0.3) 0px 10px, rgb(149, 210, 228, 0.2) 0px 15px, rgb(149, 210, 228, 0.1) 0px 20px, rgb(149, 210, 228, 0.05) 0px 25px;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--kpxaeh-black);
    background-image: url('/public/assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lexend Mega', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    color: var(--kpxaeh-white);
    min-height: 100%;
}

body {
    animation: fade ease 2s;
}

a {
    text-decoration: none;
    color: var(--kpxaeh-white);
    transition: all 0.5s ease;
}

a:hover {
    cursor: pointer;
    color: var(--kpxaeh-blue);
    transform: scale(1.1);
}

.Home {
    font-weight: 100;
    font-size: 5vmin;
    letter-spacing: -.25vmin;
    width: 50vw;
    position: fixed;
    bottom: 35%;
    right: 0;
    animation: fadeInRight 1s;
}

.Home span {
    font-weight: 500;
    color: var(--kpxaeh-blue);
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 1500px) {

    .Home {
        width: 100vw;
        font-size: 8vmin;
        bottom: 20%;
        background-color: rgba(37, 49, 61, 0.6);
        padding: 5vmin 5vmin 5vmin 10vmin;
    }
}

@media only screen and (max-width: 500px) {

    .Home {
        font-size: 8vmin;
    }
}
